

.form-control{
    background: #f5f5f5;
    border: none;
    padding: 15px;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid #db4444;
}

.contact-btn{
    background: #db4444;
    color: white;
    padding: 12px 35px;
}

.contact-btn:hover{
    background: #c52f2f;
    color: white;
}

.sidebar-link {
  display: block;
  text-decoration: none;
  color: #212529;
  font-size: 18px;      /* pehle se thoda chhota */
  font-weight: 400;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar-link:hover {
  background-color: #f5f5f5;
  color: #0d6efd;
  padding-left: 18px;
}